div {
  background-color: lightskyblue;
  padding: 30px;
  /* margin: 10px; */
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
  border-top: 1px solid black;
  position: absolute;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}
#a1 {
    background-color: lightblue;
    top: 0;
    left: 0;
}
#a2 {
    background-color: lightgrey;
    top: 0;
    right: 0;
}
#a3 {
    background-color: lightpink;
    bottom: 0;
    right: 0;
}
#a4 {
    background-color: lightseagreen;
    bottom: 0;
    left: 0;
}
